<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Coffee.</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="CoffeeMaker/Boiler.js"></script>
        <script src="CoffeeMaker/Button.js"></script>
        <script src="CoffeeMaker/LED.js"></script>
        <script src="CoffeeMaker/Carafe.js"></script>
        <script src="CoffeeMaker/CoffeeGroundContainer.js"></script>
        <script src="CoffeeMaker/CondimentContainer.js"></script>
        <script src="CoffeeMaker/WaterReservoir.js"></script>
        <script src="CoffeeMaker/WaterLevelSensor.js"></script>
        <script src="CoffeeMaker/HeatingElement.js"></script>
        <script src="CoffeeMaker/CoffeeMaker.js"></script>
        <script src="lib/CoffeeCanvas.js"></script>
    </head>
    <body>
        <div id="app" class="ui page grid">
            <div class="column row">
                <div class="column">
                    <div class="ui huge header">Coffee Maker<span style="font-size: 1.25rem; color:grey"> - Jeremy Clark, Upma Sharma, Marco Hidalgo</span></div>
                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <div class="ui segment">
                        <canvas id="coffeeCanvas" style="width:65%; height:65%;"></canvas> 
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <div class="ui middle aligned divided list">
                            <div class="item">Runtime: {{runtime}} ms</div>
                            <div class="item">Water Level: {{coffeeMaker.boiler.waterReservoir.waterLevel}}/{{coffeeMaker.boiler.waterReservoir.maxWaterLevel}}mL</div>
                            <div class="item">Milk Level: {{coffeeMaker.milkContainer.amount}}/{{coffeeMaker.milkContainer.maxAmount}}mL</div>
                            <div class="item">Sugar Level: {{coffeeMaker.sugarContainer.amount}}/{{coffeeMaker.sugarContainer.maxAmount}}mL</div>
                            <div class="item">Cream Level: {{coffeeMaker.creamContainer.amount}}/{{coffeeMaker.creamContainer.maxAmount}}mL</div>
                            <div class="item">Coffee Grounds: {{coffeeMaker.coffeeGroundContainer.amount}}/{{coffeeMaker.coffeeGroundContainer.maxAmount}}mL</div>
                            <div class="item">Brewing: <template v-if="coffeeMaker.isBrewing()">Yes</template><template v-else>No</template></div>
                            <div class="item">Brewing LED: <template v-if="coffeeMaker.indicatorLight.on">On</template><template v-else>Off</template></div>
                            <div class="item">Boiler Temperature: {{coffeeMaker.boiler.heatingElement.temperature}}°c</div>
                            <div class="item">eee</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="position: fixed; bottom:32px; right: 32px; z-index:999;" v-if="messageText != ''" class="ui negative message transition"  v-bind:class="{ green: messageType == 'normal', red: messageType == 'error' }">
                <i class="close icon" v-on:click="messageText = ''"></i>
                <div class="header">Error</div>
                <p>{{messageText}}</p>
            </div>
            <div class="column row">
                <div class="column">
                    <div class="ui middle aligned divided list">
                        <div class="item">Primary Functionality</div>
                        <div class="item">
                            <button class="ui primary button" v-on:click="pressBrewButton()">Start Brewing</button>
                            <button class="ui primary button" v-on:click="pressCancelBrewButton()">Cancel Brewing</button>
                            <button class="ui green button" v-on:click="pressPourMilkButton()">Pour Milk</button>
                            <button class="ui green button" v-on:click="pressPourSugarButton()">Pour Sugar</button>
                            <button class="ui green button" v-on:click="pressPourCreamButton()">Pour Cream</button>

                        </div>
                    </div>
                    <div class="ui middle aligned divided list">
                        <div class="item">Add Ingredients to machine</div>
                        <div class="item">
                            <button class="ui button" v-on:click="pressAddWaterButton()"> Add Water (100mL)</button>
                            <button class="ui button" v-on:click="pressAddMilkButton()"> Add Milk (25mL)</button>
                            <button class="ui button" v-on:click="pressAddSugarButton()"> Add Sugar (10mL)</button>
                            <button class="ui button" v-on:click="pressAddCreamButton()"> Add Cream (10mL)</button>
                        </div>
                    </div>
                    <div class="ui middle aligned divided list">
                        <div class="item">Coffee Grounds</div>
                        <div class="item">
                            <button class="ui button" v-on:click="pressAddFilterButton()"> Add Filter</button>
                            <button class="ui button" v-on:click="pressRemoveFilterButton()"> Remove Filter</button>
                            <button class="ui button" v-on:click="pressAddCoffeeGroundsButton()"> Add Coffee Grounds (15mL)</button>
                        </div>
                    </div>
                    <div class="ui middle aligned divided list">
                        <div class="item">Carafe</div>
                        <div class="item">
                            <button class="ui button">Take Carafe Off Burner</button>
                            <button class="ui button" v-on:click="pressDrinkCoffeeButton()">Drink Coffee</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>

</html>